name: test for new api

on: [push]

jobs:
  build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4 
        - name: install requirements
          run: pip install -r requirements.txt
        - name: run tests
          run: pytest -vv
          

    
